<form (ngSubmit)="guardar(f)" #f="ngForm">
    <h2>Nuevo Empleado <i class="fas fa-user"></i> </h2>
    <hr>
    <div class="row">
        <div class="col">
            <!-- ID Firebase -->
            <label> Clave de Registro: </label>
            <input type="text" class="form-control" placeholder="Clave de Registro" disabled="disable"
                [(ngModel)]="employee.id" name="id" >
            <small class="form-text text-muted"> Este campo es autogenerado.</small>
        </div>
        <div class="col">
            <!-- ID -->
            <div class="form-group">
                <label> No. Empleado: </label>
                <input type="number" class="form-control" placeholder="No.Empleado" [(ngModel)]="employee.numEmpleado"
                    name="numEmpleado" #numEmpleado="ngModel" [class.is-invalid]="numEmpleado.invalid && numEmpleado.touched" minlength="10" maxlength="12" required>
                    <ng-container>
                        <small *ngIf="numEmpleado.invalid && numEmpleado.touched" class="form-text text-danger"> Este campo es
                            requerido. </small>
                    </ng-container>
            </div>
        </div>
    </div>
    <!-- Nombre -->
    <div class="form-group" style="margin-top: 0.5rem;">
        <label> Nombre: </label>
        <input type="text" class="form-control" placeholder="Nombre Completo" [(ngModel)]="employee.nombre"
            name="nombre" #nombre="ngModel" [class.is-invalid]="nombre.invalid && nombre.touched" maxlength="40" required>
            <ng-container>
                <small *ngIf="nombre.invalid && nombre.touched" class="form-text text-danger"> Este campo es
                    requerido. </small>
            </ng-container>
    </div>

    <!-- Correo Eléctronico -->
    <div class="form-group">
        <label> Email: </label>
        <input type="email" class="form-control" placeholder="usuario@example.com" [(ngModel)]="employee.email"
            name="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" [class.is-invalid]="email.invalid && email.touched" #email="ngModel" required>
            <ng-container>
                <small *ngIf="email.invalid && email.touched" class="form-text text-danger"> Este campo es
                    requerido. </small>
            </ng-container>
    </div>

    <!-- Télefono -->
    <div class="form-group">
        <label> Télefono: </label>
        <input type="number" class="form-control" placeholder="999-999-9999" [(ngModel)]="employee.telefono"
            name="telefono" #telefono="ngModel" [class.is-invalid]="telefono.invalid && telefono.touched" maxlength="10" required>
    </div>

    <!-- Oficina -->
    <div class="form-group">
        <label> Oficinas: </label>
        <select class="form-control" [(ngModel)]="employee.oficina" name="oficina" #oficina="ngModel" [class.is-invalid]="oficina.invalid && oficina.touched" required>
            <option selected>- Seleccione las oficinas en donde actualmente labora -</option>
            <option *ngFor="let office of offices"> {{office.oficina}} </option>
        </select>
        <ng-container>
            <small *ngIf="oficina.invalid && oficina.touched" class="form-text text-danger"> Es necesario seleccionar la oficina. </small>
        </ng-container>
    </div>

    <div class="row">
        <div class="col">
            <button type="button" class="btn btn-secondary btn-block" routerLink='/listado-Empleados'> Regresar
            </button>
            </div>
            <div class="col">
                <button type="submit" [disabled]="!f.valid" class="btn btn-success btn-block"> Guardar </button>
        </div>
    </div>
</form>